@model EngInt2.Models.InformacoesViewModel


<div id="dataFromSensors">
    <p>@Html.DisplayFor(model => model.Id)</p>
    <p>@Html.DisplayFor(model => model.Temperatura)</p>
    <p>@Html.DisplayFor(model => model.Umidade)</p>
    <p>@Html.DisplayFor(model => model.UmidadeSolo)</p>
</div>