@model EngInt2.Models.InformacoesViewModel

@{
    ViewData["Title"] = "Página inicial";
}


<h2>Informações dos Sensores</h2>
<hr />


<div class="environment_conditions_container">

    <div class="environment_conditions">
        <p>Id:</p>
        <p>Temperature:</p>
        <p>Umidade relativa do ar:</p>
    </div>
    @await Html.PartialAsync("_SensorInfo", Model)
    <p></p>

</div>

<h2>LEDs</h2>
<hr />


<div class="_container">
    <div class="buttons_commands">

        <div class="commandButton">
            <p class="color-component-w">LED Branco</p>
            Status:<button id="btn_w">@Html.DisplayFor(model => model.Status1)</button>
        </div>

        <div class="commandButton">
            <p class="color-component-y">LED Amarelo</p>
            Status:<button id="btn_y">@Html.DisplayFor(model => model.Status2)</button>
        </div>

        <div class="commandButton">
            <p class="color-component-r">LED Vermelho</p>
            Status:<button id="btn_r">@Html.DisplayFor(model => model.Status3)</button>
        </div>

        <div class="commandButton">
            <p class="color-component-g">LED Verde</p>
            Status:<button id="btn_g">@Html.DisplayFor(model => model.Status4)</button>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/atualizaInformacoes.js"></script>
<script src="~/js/comandos.js"></script>

