@model EngInt2.Models.InformacoesViewModel

@{
    ViewData["Title"] = "Página inicial";
}


<h3>Informações dos Sensores</h3>
<hr />

    <div class="environment_conditions_container">

        <div class="environment_conditions">
            @*<p>Id:</p>*@
            <p>Temperatura:</p>
            <p>Umidade relativa do ar:</p>
            <p>Umidade do solo:</p>
        </div>
        @await Html.PartialAsync("_SensorInfo", Model)
        <p></p>
    </div>
    <button id="edit_config" class="btn btn-info btn-xs">Editar configurações</button>

<div class="_container box">
    <div class="buttons_commands">

        <div class="commandButton">
            <h3>Sistema de Exaustão (LED Branco)</h3>
            Status:<button id="btn_w">@Html.DisplayFor(model => model.Status1)</button>
        </div>
        <hr />
        <div class="commandButton">
            <h3 class="color-component-r">Sistema de Iluminação (LED Vermelho)</h3>
            <p>Digite aqui o intervalo de tempo, em segundos, para ocorrer a iluminação:</p>
            <label for="tempoLigado">Ligado:</label>
            <input type="number" id="tempoLigado" name="tempoLigado" class="littleInput" /><br />

            <label for="tempoDesligado">Desligado:</label>
            <input type="number" id="tempoDesligado" name="tempoDesligado" class="littleInput" /><br />


            <input class="btn btn-success btn-sm" type="submit" value="Salvar" id="Salvar_tempo" />


            <p id="mensagemTempoOk"></p>


        </div>
        <hr />
        <div class="commandButton">
            <h3 class="color-component-g">Sistema de Ventilação (Ventoinha)</h3>
            <label for="temp">Digite aqui a temperatura mínima para iniciar a ventilação:</label>
            <input type="number" id="temp" name="temp" class="littleInput" /><br />
            <input class="btn btn-success btn-sm" type="submit" value="Salvar" id="Salvar_temp" />
            <p id="mensagemTempOk"></p>
        </div>
        <hr />
        <div>
            <h3 class="color-component-y">Sistema de Irrigação (LED Amarelo)</h3>
            <label for="umi">Digite aqui a umidade mínima para iniciar a irrigação:</label>
            <input type="number" id="umi" name="umi" class="littleInput" /><br />
            <input class="btn btn-success btn-sm" type="submit" value="Salvar" id="Salvar_umi" />
            <p id="mensagemUmiOk"></p>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/atualizaInformacoes.js"></script>
<script src="~/js/comandos.js"></script>

