@model EngInt2.Models.Comandos

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Comandos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeComponente" class="control-label"></label>
                <input asp-for="NomeComponente" class="form-control" />
                <span asp-validation-for="NomeComponente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ligado" class="control-label"></label>
                <input asp-for="Ligado" class="form-control" />
                <span asp-validation-for="Ligado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desligado" class="control-label"></label>
                <input asp-for="Desligado" class="form-control" />
                <span asp-validation-for="Desligado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status_Enum" class="control-label"></label>
                <select asp-for="Status_Enum" class="form-control"></select>
                <span asp-validation-for="Status_Enum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
